{%  extends 'door/base.html' %}
{% block content %}

<ul class="list-articles">
    <div class="form">
        {% for door in doors %}

        <li>
            <div class="article-panel">
                <p class="first"> Door : {{door.name}}</p>
                <p class="last" > Last opening time:  </p>
            </div>
              <br>
        <li><h2 class="door-name">{{door.name}}</h2>

            <button type="button" class="btn btn-info" name={{ door.name }} id={{ door.name }} onclick="openDoor( '{{ door.name }}')">

               Check ...
            </button>
<!--            <button type="button" class="btn btn-success" onclick="checkStatus('{{ door.name }}')"> Check door status-->
<!--            </button>-->

                <span class="badge text-bg-danger" > {{ user }} </span>
        <br>
       </li>
        <br>

        {% endfor %}
</div>

<script type="application/javascript">
    let base_url = window.location.protocol + '//' + window.location.host + '/';
    let status = "Closed";
    const checkStatus = async(doorName) => {

            let url = base_url + 'door-status' + "/"+ doorName;
            console.log(url);
            let response = await fetch(url);
            let commits = await response.json();
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    document.getElementById(doorName).innerHTML = data.status;
                    console.log("!!!");

                    if (data.status == "closed")
                    document.getElementById(doorName).className = "btn btn-info"



            }).catch(()=>{
                document.getElementById("result").innerHTML += "Service does not work correctly";
                alert(JSON.stringify('Exception occurred'));
            })

        }
    const openDoor = async(doorName) => {
        let url = base_url + 'grant-access' + "/" + doorName;
        //console.log(url);

        let response = await fetch(url);
        //console.log(response);
        let commits = await response.json();
        if (commits.ok==true){
            document.getElementById(doorName).innerHTML = "opened";
            document.getElementById(doorName).className = "btn btn-success"
            document.getElementById(dataDoor).innerHTML = "123";
            }
        else {
            document.getElementById(doorName).innerHTML = "Access denied";
        }
        }
    doors = document.getElementsByClassName('door-name');

    for (let i=0; i<doors.length; i++) {
        setInterval(checkStatus, 10 * 1000, doors[i].textContent);
         checkStatus(doors[i].textContent);
         console.log(doors[i].textContent);
       }


</script>
{% endblock %}

