
html {
            font-family: Verdana, "sans-serif";
        }
        body {
            min-height: 100vh ;
            background: linear-gradient(#0033FF, #3333FF) no-repeat;
        }
        h1,h3,h4 {
            text-align: left;
            color: yellow;
            text-shadow: 0 2px 5px rgba(150, 150, 150, 0.8);
            margin-left: 20px;
        }
        #root {
            display: flex;
            flex-direction: column;
            align-items: left;
            margin-left: 20px;
        }
        .form {
            width: 50%;
            margin-bottom: 20px;
        }
   ,     .form__label {
            text-align: center;
            margin-top: 10px;
            background-color: yellow;
        }
        .blink {
        animation: blink 1s infinite;
       }
       @keyframes blink {
        from { opacity: 1;
        to { opacity: 0.8;
       }