{% extends 'interface/base.html' %}
{% block content %}
<div id="root">

    <div class="form">

        {% for door in CONTROLLERS %}
        <h3> "{{ door.name }}"</h3>
        ( {{ door.url }} ) <br>
        <button type="button" class="btn btn-secondary" name={{ door.name }} onclick="openDoor( '{{ door.name }}')">
            Open door {{door.name}}
        </button>
        <button type="button" class="btn btn-success" onclick="checkStatus('{{ door.name }}')"> Check door status
        </button>
        <p class="blink">
            <span class="badge text-bg-danger" id={{ door.name }}> Closed </span>
        </p><br>
        {% endfor %}
        <span class="badge text-bg-danger" id="check_1"> check1 </span>
        <span class="badge text-bg-danger" id="check_2"> check2 </span>
    </div>
</div>

<script type="application/javascript">
    let base_url = window.location.protocol + '//' + window.location.host + '/';
    let status = "Closed";
    const checkStatus = async(doorName) => {

            let url = base_url + 'door-status' + "/"+ doorName;
            console.log(url);
            let response = await fetch(url);
            let commits = await response.json();
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    document.getElementById(doorName).innerHTML = "Сurrent status: " + data.status;

                    if (data.status == "closed")
                    document.getElementById(doorName).className = "badge text-bg-danger"



            }).catch(()=>{
                document.getElementById("result").innerHTML += "Service does not work correctly";
                alert(JSON.stringify('Exception occurred'));
            })

        }
    const openDoor = async(doorName) => {
        let url = base_url + 'grant-access' + "/" + doorName;
        //console.log(url);

        let response = await fetch(url);
        //console.log(response);
        let commits = await response.json();
        if (commits.ok==true){
            document.getElementById(doorName).innerHTML = "Opened";
            document.getElementById(doorName).className = "badge bg-success"
            }
        else {
            document.getElementById(doorName).innerHTML = "Access denied";
        }
        }
</script>

{% endblock  %}

